.header-container {
  overflow-x: hidden;
  &:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 46rem;
    flex-shrink: 0; 
    border-radius: 0rem 0rem 2.1875rem 2.1875rem;
    background: linear-gradient(290deg, #d6dafe 0%, rgba(214, 252, 254, 0) 100%);

    @media (min-width: 1100px) {
      width: 62rem;
    }
  }
}

